@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.post-title {
	font-size:  1.825rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Share Tech Mono', monospace;
}

.logo__text {
	letter-spacing: 0;
	margin-left: 5px;
}

.footer,
.footer__inner {
	text-align: center;
}

.logo__text {
	position: relative;
	top: -2px;
}

.footer__inner .logo {
	display: none;
}

.footer,
.footer__inner,
.footer .copyright {
	display: block;
}

.menu__inner li {
	text-transform: lowercase;
	font-weight: 300;
	margin-top:  -1px;
}

.dark-theme .header {
	background: #222222;
}

body.no-index-content .index-content  {
	display: none !important;
}

.post-content a .im-github {
	text-decoration: none;
	padding-right: 5px;
	color: #fe5186;
}

.post-content a:link,
.post-content a:visited,
.post-content a:active {
	color: #9a9a9a;
}

body.dark-theme {
	background-color: #1e1e1e;
	color: #dad5e1;
}

.logo__mark {
	display: none;
}

.dark-theme h1, 
.dark-theme h2, 
.dark-theme h3, 
.dark-theme .post-title, 
.dark-theme .header, 
.dark-theme .post-day, 
.dark-theme .post-date, 
.dark-theme .post-info,
.dark-theme .read-more {
	color: #706e73;
}

body {
	letter-spacing: 0.8px;
}

.logo .gravatar {
	border-radius: 15%;
	margin-right: 10px;
	height: 32px;
	max-height: 32px;
}

.index-content {
	border: 1px solid #3c3c3c;
	padding: 10px 20px;
	border-radius: 10px;
	background: #00000038;
	margin: 0 20px 40px 20px;
}

@media only screen and (min-width: 1307px) {
	.index-content {
		max-width: 60%;
	}

	body {
		padding-top: 72px;
	}
}

body {
	padding-top: 72px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 0px 9px #0000003;
	z-index: 99999;
	opacity: 0.98;
}

.menu__inner a.active {
	color: #fe5186;
}

.post-title:hover {
	opacity:  0.8;
}

.post,
.post:not(:last-of-type) {
	border-bottom: none;
	margin-bottom: 0;
}

.post:first-child {
	margin-top: 0;
	padding-top: 0;
}

.post:last-child,
.post:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

a[href="/index.xml"] {
	color: orange;
	text-decoration: none;
}

.menu .im {
	font-size: 1rem;
	margin-right: 5px;
}

.menu .im-linkedin {
	top: 1px;
}

i.im {
	display: inline-block;
	position: relative;
	font-size: 1rem;
	top: 3px;
}

.footer .copyright>:first-child:not(:only-child) {
	border: none;
	padding-right: 0;
	margin-right: 0;
}

.content {
}

.footer {
	padding-top: 0;
}
