@mixin body( $fg, $bg, $mid ) {
	$error: $mid;
	$mobile: 600px;
	$active: $fg;

	background-color: $bg;
	color: $fg;
	font-family: -apple-system, Ariel, Arial, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	section.page {

		align-items: center;
		justify-content: center;
		margin: auto;
		padding: 0 2rem;
		width: 800px;

		a {

			color: $fg;
			text-decoration: none;
			transition: color 0.5s;
		}

		header {

			@media ( max-width: $mobile ) {
				margin-top: 20px;
			}

			margin-top: 4rem;

			h2 {
				font-size: 1rem;
			}

			nav {

				&.icons {

					ul {

						display: inline-block;
						padding: 1rem 0;
						margin: 0;

						li {

							display: inline-block;
							padding: 0 5px;

							&:first-child {
								padding-left: 0;
							}
						}
					}
				}

				&.lead {

					h2 {

						font-size: 4rem;
						margin: 0;
					}

					div.by {

						font-weight: normal;
						color: $mid;
						font-size: 1rem;
						line-height: 2rem;
						margin: 0;
					}

					// Navigator.
					input.navigator,
					input.navigator:active,
					input.navigator:focus,
					input.navigator:focus-within {

						background-color: $bg;
						border-bottom: 1px solid $mid;
						border-radius: 0;
						border-top: 0;
						border-right: 0;
						border-left: 0;
						color: $active;
						caret-color: $mid;
						display: block;
						font-family: inherit;
						font-size: inherit;
						font-weight: bold;
						outline: none;
						padding: 0;
						margin: 0;
						text-transform: lowercase;
						transition: color 1s;
						width: 100%;

						&::selection{

							background: $mid;
							color: $fg;
						}

						&.invalid {
							color: $error;
						}
					}
				}
			}
		}

		main {

			align-items: center;
			justify-content: center;
			padding: 2rem 0;

			a {

				border-bottom: 1px solid $mid;
				transition: border 0.5s;

				&:hover,
				&:focus {
					border-bottom: 1px solid $fg;
				}
			}

			ul.posts {

				list-style: none;
				padding-left: 0;
				padding-right: 0;
				margin-top: 0;

				li {

					border-bottom: 1px solid $mid;
					margin: 0;
					padding: 0;

					&:last-child {
						border-bottom-color: transparent;
					}

					a.postlink {

						color: $fg;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						border-bottom: 1px solid transparent;

						&:hover,
						&:focus {
							color: $fg;

							small {
								color: $fg;
								transition: color 2s;
							}
						}

						strong,
						small {

							display: flex;
							flex-direction: column;
							flex-basis: 100%;
							flex: 1;
							padding: 10px 0;
							margin: 0;
						}

						small {

							display: inline-block;
							font-style: italic;
							text-align: right;
							justify-content: space-between;
							align-self: center;
							color: $mid;
						}
					}
				}
			}

			article.post {

				hr {
					border: 1px solid $mid;
					opacity: 75%;
				}

				header {

					margin-bottom: 30px;
					margin-top: 0;

					h1,
					span {
						display: block;
					}

					h1 {

						font-size: 2rem;
						margin-top: 0;

						&:first-child {
							margin-bottom: 5px;
						}
					}

					span {

						padding-left: 0;
						margin-top: 10px;
						color: $mid;
						font-style: italic;
					}
				}

				img {
					max-width: 100%;
				}

				p,
				ul,
				blockquote, {
					line-height: 1.5rem;
				}

				code,
				pre {

					&, span {
						font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
					}
				}

				pre {
					border-radius: 5px;
				}

				code {

					color: $fg;
					font-weight: bold;
				}

				a {
					&.id-link {

						border: none;
						margin-right: 10px;
						float:right;

						&.id-link:hover,
						&.id-link:focus {
							svg {
								fill: $fg;
							}
						}

						svg {
							fill: $mid;
							transition: fill 0.5s;
						}
					}
				}
			}
		}

		footer {

			border-top: 1px solid $mid;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			height: 100px;
			justify-content: center;
			width: 100%;

			a {
				align-items: center;
				justify-content: center;
			}

			p {
				color: $mid;
				display: flex;
				flex-direction: column;
				flex-basis: 100%;
				flex: 1;

				&:first-child {
				}

				&:last-child {
					text-align: right;
					font-weight: bold;

					a {
						color: $mid;
						border-bottom: 1px dotted $mid;
						transition: border 0.5s;
						transition: color 0.5s;

						&:hover,
						&:focus {
							color: $fg;
						}
					}
				}
			}
		}

		@media ( max-width: $mobile ) {
			width: 100%;
		}
	}
}

html {
	margin: 0;
	padding:0;

	&,
	* {
		box-sizing: border-box;
	}

	body {
		@include body( black, white, #00000073 );

		@media ( prefers-color-scheme: dark ) {
			@include body( white, black, #ffffff5c );
		}
	}
}
