@font-face {
	font-family: Comic Mono;
	font-weight: normal;
	src: url("/ComicMono.ttf");
}

@mixin body( $fg, $bg, $mid ) {

	$active: $fg;
	$error: $mid;

	background-color: $bg;
	color: $fg;
	font-family: -apple-system, Ariel, Arial, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	a {
		color: $fg;
	}

	#__next {

		height: 100%;
		width: 100%;
		position: fixed;

		& > div.terminal {
			height: 100%;
			width: 100%;
			padding: 0;

			& div[name="react-console-emulator"] {
				height: 100%;
				position: fixed;
				width: 100%;
				padding: 0;

				background-color: $bg !important;
				color: $fg !important;

				& div {
					color: $fg !important;
				}

				& div[name="react-console-emulator__content"] {
					height: 100%;
				}
			}

			&.papyrus {
				& div[name="react-console-emulator"] {
					& div[name="react-console-emulator__content"] {
						font-family: "Comic Mono", "Comic Sans MS", "Comic Sans", cursive !important;
					}
				}
			}
		}

		// Anything but the terminal page.
		& > div:not(.terminal) {
			& > div {

				height: 100%;
				overflow: scroll;
				position: fixed;
				width: 100%;
				align-items: center;
				display: flex;
				text-align: center;

				a {
					text-decoration: none;
				}

				h1 {
					display: block;
				}

				.icons {

					margin: auto;

					ul {

						display: block;
						margin: 0;
						padding: 1rem;
						width: 100%;
						max-width: 100%;
						min-width: 100%;

						@media only screen and ( max-width: 800px ) {
							display: block;
						}

						li {

							flex: 1;

							display: inline-block;
							padding: 40px;
							transition: transform 0.3s;
							text-align: center;

							@media only screen and ( max-width: 700px ) {
								padding: 25px 0;
								min-width: 50%;
								flex: 0;
							}

							@media only screen and ( max-width: 500px ) {
								min-width: 33%;
							}

							@media only screen and ( max-width: 250px ) {
								min-width: 100%;
							}

							a {
								color: $mid;
								transition: color 2s;
								display: inline;
								margin: auto;

								.icon {
									height: 96px;
									width: 96px;

									margin: auto;

									@media only screen and ( max-width: 800px ) {
										height: 68px;
										width: 68px;
									}

									svg {
										height: 100%;
										width: 100%;
										min-height: 100%;
										min-width: 100%;
										max-height: 100%;
										max-width: 100%;
									}
								}
							}

							div.title {
								color: $mid;
								padding: 5px 0;
							}

							&:hover {
								transform: scale(1.5);

								a {
									color: $fg;
									transition: color 0.5s;
								}

								div.title {
									opacity: 1;
									transition: opacity 1s;
								}
							}
						}
					}
				}
			}

		}
	}
}

html {
	margin: 0;
	padding: 0;

	&, * {
		box-sizing: border-box;
	}

	body {
		@include body( #151515, white, #00000073 );

		@media ( prefers-color-scheme: dark ) {
			@include body( white, #151515, #ffffff5c );
		}
	}
}
